:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  @apply(--pager-nav);
}

:host([hidden]), [hidden] { display: none !important; }

.btn {
  font: inherit;
  background-color: transparent;
  border: 0;
  display: inline-flex;
  align-items: center;
  @apply(--pager-nav-button);

  &-prev { @apply(--pager-nav-button-prev); }
  &-next { @apply(--pager-nav-button-next); }

  &-prev-icon { @apply(--pager-nav-icon-prev); }
  &-next-icon { @apply(--pager-nav-icon-next); }

  &-text { @apply(--pager-nav-button-text); }
}

.btn-prev-icon ~ .btn-prev-text:not(.sr-only) {
  margin-left: var(--pager-nav-icon-text-margin, 0.4em);
}
.btn-next-text:not(.sr-only) ~ .btn-next-icon {
  margin-left: var(--pager-nav-icon-text-margin, 0.4em);
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
