:host {
  display: flex;
  justify-content: space-between;
  @apply(--um-pagination);
}

:host([hidden]), [hidden] { display: none !important; }

.btn {
  @apply(--um-pagination-button);

  &-prev { @apply(--um-pagination-button-prev); }
  &-next { @apply(--um-pagination-button-next); }
}

.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
